<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="UTF-8" />
        <meta name="author" content="Pawel Kolodziejuk pkolodziejuk@appsfatory.pl" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/uniform.css" />
    <link rel="stylesheet" href="css/select2.css" />

    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/datepicker.css" />


    <link rel="stylesheet" href="css/fullcalendar.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="/">Home page</a></h1>
    </div>
    <!--close-Header-part--> 

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li  class="dropdown" id="profile-messages" >
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
                    <i class="icon icon-user"></i>  <span class="text">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    </span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="icon-key"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a title="Logout" href="{{ path('fos_user_security_logout') }}">
                    <i class="icon icon-share-alt"></i> <span class="text">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard2</a>
        <ul>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="submenu">
                    <a href="#">
                        <i class="icon icon-user" aria-hidden="true"></i> <span>Users</span> 
                    </a>
                    <ul>
                        <li><a href="{{ path('app_user_list') }}">List</a></li>
                        <li><a href="{{ path('app_user_add') }}">Add new</a></li>
                        <li><a href="{{ path('app_user_showlog') }}">Show logins</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#">
                        <i class="icon icon-user" aria-hidden="true"></i> <span>Library</span> 
                    </a>
                    <ul>
                        <li><a href="{{ path('app_library_maritialstatus') }}">Maritial Statuses List</a></li>
                        <li><a href="{{ path('app_library_maritialstatusadd') }}">Add Maritial Status</a></li>
                        <li><a href="{{ path('app_library_filetype') }}">File Types List</a></li>
                        <li><a href="{{ path('app_library_filetypeadd') }}">Add File Type</a></li>
                        <li><a href="{{ path('app_library_status') }}">Status List</a></li>
                        <li><a href="{{ path('app_library_statusadd') }}">Add Status</a></li>
                        <li><a href="{{ path('app_library_legalform') }}">Legal Forms List</a></li>
                        <li><a href="{{ path('app_library_legalformadd') }}">Add Legal Form</a></li>
                        <li><a href="{{ path('app_library_disengegementreason') }}">Disengagement Reasons List</a></li>
                        <li><a href="{{ path('app_library_disengegementreasonadd') }}">Add Disengagement Reason</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="submenu">
                <a href="#">
                    <i class="icon icon-folder-open"></i> <span>Business</span>
                </a>
                <ul>
                    <li><a href="{{ path('app_business_list') }}">List</a></li>
                    <li><a href="{{ path('app_business_add') }}">Add Company</a></li>
                    <li><a href="{{ path('app_business_import') }}">Import</a></li>  
                </ul>
            </li>
            <li class="submenu">
                <a href="#">
                    <i class="icon icon-folder-open"></i> <span>Individual</span>
                </a>
                <ul>
                    <li><a href="{{ path('app_individual_list') }}">List</a></li>
                    <li><a href="{{ path('app_individual_add') }}">Add Person</a></li>
                    <li><a href="{{ path('app_individual_import') }}">Import</a></li>                
                    <li><a href="{{ path('app_individual_types') }}">Types</a></li>                
                    <li><a href="{{ path('app_individual_addtype') }}">Add type</a></li>                
                </ul>
            </li>
        </ul>
    </div>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
            <h1>{% block header %}{% endblock %}</h1>
            {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </div>
</div>
</div>
<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; Omega Business, Coded by <a href="http://appsfactory.pl">appsfactory</a></div>
</div>
<!--end-Footer-part-->
<script src="js/excanvas.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flot.min.js"></script> 
<script src="js/jquery.flot.resize.min.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/fullcalendar.min.js"></script> 
<script src="js/matrix.calendar.js"></script> 
<script src="js/matrix.chat.js"></script> 
<script src="js/jquery.validate.js"></script> 
<script src="js/matrix.form_validation.js"></script> 
<script src="js/jquery.wizard.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.popover.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.tables.js"></script> 
<script src="js/matrix.interface.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/jquery.toggle.buttons.js"></script> 
<script src="js/masked.js"></script> 
<script src="js/matrix.form_common.js"></script> 
<script src="js/wysihtml5-0.3.0.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/bootstrap-wysihtml5.js"></script> 
<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage(newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-") {
                resetMenu();
            }
            // else, send page to designated URL            
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
    $('.textarea_editor').wysihtml5({

    });
    $('.datepicker').datepicker({
        required: false
    });
</script>
</body>
</html>
