{% extends "::base.html.twig" %}

{% block title %}Individual Advanced Search{% endblock %}
{% block header %}Individual Advanced Search{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Advanced Search</h5>
                    </div>
                    <div class="widget-content nopadding">
                        {{ form_start(form,{'attr':{'class':'form-horizontal','id':'appbundle_individual'}}) }}
                        <div class="control-group">
                            {{ form_label(form.string,'Search for a phrase…',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.string,{'attr':{'placeholder':'','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.status,'Status',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.status,{'attr':{'placeholder':'Status','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.dobFrom,'Date of Birth',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                <div class="input-append date">
                                    {{ form_widget(form.dobFrom,{'attr':{'placeholder':'From','class':'datepicker'}}) }}
                                </div>
                                <div class="input-append date">
                                    {{ form_widget(form.dobTo,{'attr':{'placeholder':'To','class':'datepicker'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.maritialStatus,'Maritial Status',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.maritialStatus,{'attr':{'placeholder':'Maritial Status','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.dateDisengagedFrom,'Client Disengaged',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                <div class="input-append date">
                                    {{ form_widget(form.dateDisengagedFrom,{'attr':{'placeholder':'From','class':'datepicker'}}) }}
                                </div>
                                <div class="input-append date">
                                    {{ form_widget(form.dateDisengagedTo,{'attr':{'placeholder':'To','class':'datepicker'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.disengegementReason,'Disengagement Reason',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.disengegementReason,{'attr':{'placeholder':'Disengagement Reason','class':''}}) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.archivedFrom,'Client Archived',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                <div class="input-append date">
                                    {{ form_widget(form.archivedFrom,{'attr':{'placeholder':'From','class':'datepicker'}}) }}
                                </div>
                                <div class="input-append date">
                                    {{ form_widget(form.archivedTo,{'attr':{'placeholder':'To','class':'datepicker'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.connections,'Has Connections',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.connections,{'attr':{'class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.proofOfAddress,'Proof od Address',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.proofOfAddress,{'attr':{'placeholder':'Proof of Address','class':''}}) }}
                            </div>
                        </div>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-success" value="Search">
                            <a class="btn btn-danger" href="{{ path('individual_advanced_search') }}">Reset</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% if individuals is not empty %}
        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                <h5>Individual</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>ID 2</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Postcode</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in individuals %}
                            <tr>
                                <td>{{ item.id2 }}</td>
                                <td>{{ item.forename }} {{ item.middlename }} {{ item.lastname }}</td>
                                <td>{{ item.address }}</td>
                                <td>{{ item.postcode }}</td>
                                <td>
                                    <a href="{{ path('app_individual_edit',{'id':item.id}) }}"
                                       class="btn btn-primary btn-xs"><i class="icon icon-edit"></i></a>
                                    <a href="{{ path('app_individual_show',{'id':item.id}) }}"
                                       class="btn btn-success btn-xs"><i class="icon icon-file"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
