{% extends "::base.html.twig" %}

{% block title %}Individual List{% endblock %}
{% block header %}Individual List{% endblock %}

{% block body %}
    {% if individuals is not empty %}
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>Data table</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Postcode</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in individuals %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.forename }} {{ item.middlename }} {{ item.lastname }}</td>
                                <td>{{ item.address }}</td>
                                <td>{{ item.postcode }}</td>
                                <td>
                                    <a href="{{ path('app_individual_edit',{'id':item.id}) }}" class="btn btn-primary btn-xs"><i class="icon icon-edit"></i></a>
                                    <a href="{{ path('app_individual_show',{'id':item.id}) }}" class="btn btn-success btn-xs"><i class="icon icon-file"></i></a>
                                </td>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
