{% extends "::base.html.twig" %}

{% block title %}{{ individual.forename }} {{ individual.middlename }} {{ individual.lastname }}{% endblock %}
{% block header %}{{ individual.forename }} {{ individual.middlename }} {{ individual.lastname }}{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box">
                <div class="widget-title"> 
                    <a href="{{ path('app_individual_edit',{'id':individual.id}) }}" class="btn btn-primary" style="float: left; margin: 3px;">
                        <i class="icon icon-edit"></i>
                    </a> 
                    <h5>Individual data</h5>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="">ID</td>
                            <td class="">{{ individual.getId }}</td>
                        </tr>
                        <tr>
                            <td class="">Status</td>
                            <td class="">{{ individual.getStatus.getName }}</td>
                        </tr>
                        <tr>
                            <td class="">Old ID</td>
                            <td class="">{{ individual.getId2 }}</td>
                        </tr>
                        <tr>
                            <td class="">Title</td>
                            <td class="">{{ individual.getTitle }}</td>
                        </tr>
                        <tr>
                            <td class="">First Name</td>
                            <td class="">{{ individual.getForename }}</td>
                        </tr>
                        <tr>
                            <td class="">Middle Name</td>
                            <td class="">{{ individual.getMiddlename }}</td>
                        </tr>
                        <tr>
                            <td class="">Last Name</td>
                            <td class="">{{ individual.getLastname }}</td>
                        </tr>
                        <tr>
                            <td class="">Previous names</td>
                            <td class="">{{ individual.getMaidenname }}</td>
                        </tr>
                        <tr>
                            <td class="">Date of birth</td>
                            <td class="">{{ individual.getDob }}</td>
                        </tr>
                        <tr>
                            <td class="">Maritial Status</td>
                            <td class="">{{ individual.getMaritialStatus.getName }}</td>
                        </tr>
                        <tr>
                            <td class="">Telephone</td>
                            <td class="">{{ individual.getPhone }}</td>
                        </tr>
                        <tr>
                            <td class="">Telephone 2</td>
                            <td class="">{{ individual.getPhone2 }}</td>
                        </tr>
                        <tr>
                            <td class="">Email</td>
                            <td class="">{{ individual.getEmail }}</td>
                        </tr>
                        <tr>
                            <td class="">Address</td>
                            <td class="">
                                {{ individual.getAddress }}
                                <a href="{{ path('individual_add_address',{'id':individual.getId}) }}" class="btn-xs btn-primary" style="float: right;">Add new</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="">Postcode</td>
                            <td class="">{{ individual.getPostcode }}</td>
                        </tr>
                        <tr>
                            <td class="">Date Moved In</td>
                            <td class="">{{ individual.getDateMovedIn }}</td>
                        </tr>
                        <tr>
                            <td class="">NIN</td>
                            <td class="">{{ individual.getNin }}</td>
                        </tr>
                        <tr>
                            <td class="">UTR</td>
                            <td class="">{{ individual.getUtr }}</td>
                        </tr>
                        <tr>
                            <td class="">Bank Account Details</td>
                            <td class="">{{ individual.getBankAccountDetails }}</td>
                        </tr>
                        <tr>
                            <td class="">e-Signature Password</td>
                            <td class="">{{ individual.eSignaturePassword }}</td>
                        </tr>
                        <tr>
                            <td class="">Notes</td>
                            <td class="">{{ individual.getNotes|raw }}</td>
                        </tr>
                        <tr>
                            <td class="">Client Disengaged</td>
                            <td class="">{{ individual.getDateDisengaged }}</td>
                        </tr>
                        <tr>
                            <td class="">Disengagement Reason</td>
                            <td class="">{% if individual.disengegementReason.getName is defined %}{{ individual.getDisengegementReason.getName }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="">Client Archived</td>
                            <td class="">{{ individual.getArchived }}</td>
                        </tr>
                        <tr>
                            <td class="">Client Archive Number</td>
                            <td class="">{{ individual.getArchiveNumber }}</td>
                        </tr>
                        <tr>
                            <td class="">Client Archive Note</td>
                            <td class="">{{ individual.getArchiveNote }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="span6">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                    <h5>Connections</h5>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Postcode</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if business is not empty %}
                            {% for item in business %}
                                <tr>
                                    <td>{{ item.getBusiness.getId }}</td>
                                    <td>{{ item.getBusiness.getName }}</td>
                                    <td>{{ item.getBusiness.getAddress }}</td>
                                    <td>{{ item.getBusiness.getPostcode }}</td>
                                    <td>{{ item.getType }}</td>
                                    <td>
                                        <a href="{{ path('app_business_show',{'id':item.getBusiness.getId}) }}" class="btn btn-success">
                                            <i class="icon icon-file"></i>
                                        </a>
                                        <a href="{{ path('app_individual_removebusiness',{'id':item.getId}) }}" class="btn btn-danger confirm">
                                            <i class="icon icon-remove"></i>
                                        </a>

                                    </td>
                                </tr>                            
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="widget-content nopadding">
                    <h3>Add business</h3>
                    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                    <div class="control-group">
                        {{ form_label(form.business,'Business',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(form.business,{'attr':{'placeholder':'Business','class':''}}) }}
                        </div>
                    </div>
                    <div class="control-group" style="display: none;">
                        {{ form_label(form.individual,'Individual',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(form.individual,{'attr':{'placeholder':'Individual','class':''}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.type,'Type',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(form.type,{'attr':{'placeholder':'Type','class':''}}) }}
                        </div>
                    </div>

                    <div class="form-actions">
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                    {{ form_end(form) }}
                </div>

                <div class="widget-content nopadding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Postcode</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if individual2 is not empty %}
                                {% for item in individual2 %}
                                    <tr>
                                        <td>{{ item.getIndividual2.getId }}</td>
                                        <td>{{ item.getIndividual2.getForename }} {{ item.getIndividual2.getMiddlename }} {{ item.getIndividual2.getLastname }}</td>
                                        <td>{{ item.getIndividual2.getAddress }}</td>
                                        <td>{{ item.getIndividual2.getPostcode }}</td>
                                        <td>{{ item.getType }}</td>
                                        <td>
                                            <a href="{{ path('app_individual_show',{'id':item.getIndividual2.getId}) }}" class="btn btn-success">
                                                <i class="icon icon-file"></i>
                                            </a>
                                            <a href="{{ path('app_individual_removeindividual',{'id':item.getId}) }}" class="btn btn-danger confirm">
                                                <i class="icon icon-remove"></i>
                                            </a>

                                        </td>
                                    </tr>                            
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>

                    <h3>Add individual</h3>
                    {{ form_start(form2,{'attr':{'class':'form-horizontal'}}) }}
                    <div class="control-group" style="display: none;">
                        {{ form_label(form2.individual,'Individual',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(form2.individual,{'attr':{'placeholder':'Individual','class':''}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form2.individual2,'Individual 2',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(form2.individual2,{'attr':{'placeholder':'Individual 2','class':''}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form2.type,'Type',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(form2.type,{'attr':{'placeholder':'Type','class':''}}) }}
                        </div>
                    </div>

                    <div class="form-actions">
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                    {{ form_end(form2) }}
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Files</h5>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Additional Info</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if files is not empty %}
                                {% for file in files %}
                                    <tr>
                                        <td>{{ file.getId }}</td>
                                        <td>{{ file.getType.getName }}</td>
                                        <td>{{ file.getDate }}</td>
                                        <td>{{ file.getAdditionalInfo }}</td>
                                        <td>
                                            <a href="{{ file.getPath }}{{ file.getFileName }}" target="_blank" class="btn btn-primary">
                                                <i class="icon icon-file"></i>
                                            </a>
                                            <a href="{{ path('file-delete',{'id':file.getId}) }}" class="btn btn-danger confirm">
                                                <i class="icon icon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>                            
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>


                    <h3>Add file</h3>
                    {{ form_start(fileForm,{'attr':{'class':'form-horizontal'}}) }}
                    <div class="control-group">
                        {{ form_label(fileForm.file,'File',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(fileForm.file,{'attr':{'placeholder':'File','class':''}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(fileForm.type,'Type',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(fileForm.type,{'attr':{'placeholder':'Type','class':''}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(fileForm.date,'Date',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {#                            {{ form_widget(fileForm.date,{'attr':{'placeholder':'Date','class':''}}) }}#}
                            <div class="input-append date">
                                {{ form_widget(fileForm.date,{'attr':{'placeholder':'Date','class':'datepicker'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(fileForm.additionalInfo,'Additional Info',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(fileForm.additionalInfo,{'attr':{'placeholder':'Additional Info','class':''}}) }}
                        </div>
                    </div>

                    <div class="form-actions">
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                    {{ form_end(fileForm) }}


                </div>

                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Address History</h5>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Postcode</th>
                                <th>Date Moved In</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if addressHistory is not empty %}
                                {% for item in addressHistory %}
                                    <tr>
                                        <td>{{ item.address }}</td>
                                        <td>{{ item.postcode }}</td>
                                        <td>{{ item.dateMovedIn }}</td>
                                        <td>
                                            <a href="{{ path('edit-address-history',{'id':item.getId}) }}" class="btn btn-primary">
                                                <i class="icon icon-edit"></i>
                                            </a>
                                            <a href="{{ path('delete-address-history',{'id':item.getId}) }}" class="btn btn-danger confirm">
                                                <i class="icon icon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>                            
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>

                    <h3>Add Address</h3>
                    {{ form_start(addressHistoryForm,{'attr':{'class':'form-horizontal'}}) }}
                    <div class="control-group">
                        {{ form_label(addressHistoryForm.address,'Address',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(addressHistoryForm.address,{'attr':{'placeholder':'Address','class':''}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(addressHistoryForm.postcode,'Postcode',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            {{ form_widget(addressHistoryForm.postcode,{'attr':{'placeholder':'Postcode','class':''}}) }}
                        </div>
                    </div>
                        
                    <div class="control-group">
                        {{ form_label(addressHistoryForm.dateMovedIn,'Date Moved In',{'label_attr':{'class':'control-label'}}) }}
                        <div class="controls">
                            <div class="input-append date">
                                {{ form_widget(addressHistoryForm.dateMovedIn,{'attr':{'placeholder':'Date Moved In','class':'datepicker'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                    {{ form_end(addressHistoryForm) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
