{% extends 'base.html.twig' %}
{% block header %}Welcome {{ app.user.username }}!{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Find Individual / Business</h5>
                    </div>
                    <div class="widget-content nopadding">
                        {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                        <div class="control-group">
                            {{ form_label(form.string,'Search for a phrase…',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.string,{'attr':{'placeholder':'','class':''}}) }}
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-success" value="Search">
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if individuals is not empty %}
        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                <h5>Individual</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Postcode</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in individuals %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.forename }} {{ item.middlename }} {{ item.lastname }}</td>
                        <td>
                            {% if item.email is not empty %}
                                <a href="mailto:{{ item.email }}">
                                    {{ item.email }}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ item.phone }}<br/>{{ item.phone2 }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.postcode }}</td>
                        <td>
                            <a href="{{ path('app_individual_edit',{'id':item.id}) }}" class="btn btn-primary btn-xs"><i
                                        class="icon icon-edit"></i></a>
                            <a href="{{ path('app_individual_show',{'id':item.id}) }}" class="btn btn-success btn-xs"><i
                                        class="icon icon-file"></i></a>
                        </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if businesses is not empty %}
        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                <h5>Business</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Postcode</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in businesses %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                {% if item.email is not empty %}
                                    <a href="mailto:{{ item.email }}">
                                        {{ item.email }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ item.address }}</td>
                            <td>{{ item.postcode }}</td>
                            <td>
                                <a href="{{ path('app_business_edit',{'id':item.id}) }}" class="btn btn-primary btn-xs"><i
                                            class="icon icon-edit"></i></a>
                                <a href="{{ path('app_business_show',{'id':item.id}) }}" class="btn btn-success btn-xs"><i
                                            class="icon icon-file"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
