{% extends "::base.html.twig" %}

{% block title %}Edit Company{% endblock %}
{% block header %}Edit Company{% endblock %}
{% block body %}

    {#    {{ form(form) }}#}


    <div class="container-fluid">
{#        <hr>#}
        <div class="row-fluid">
            <div class="span8">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Edit Company</h5>
                    </div>
                    <div class="widget-content nopadding">
                        {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                        <div class="control-group">
                            {{ form_label(form.status,'Status',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.status,{'attr':{'placeholder':'Status','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.id2,'Old ID',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.id2,{'attr':{'placeholder':'Old ID','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.legalForm,'Legal Form',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.legalForm,{'attr':{'placeholder':'Legal Form','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.name,'Company Name',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.name,{'attr':{'placeholder':'Company Name','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.address,'Company Address',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.address,{'attr':{'placeholder':'Company Address','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.postcode,'Postcode',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.postcode,{'attr':{'placeholder':'Postcode','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.dateMovedIn,'Date Moved In',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                <div class="input-append date">
                                    {{ form_widget(form.dateMovedIn,{'attr':{'placeholder':'Date Moved In','class':'datepicker'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.doi,'Date of Incorporation',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                <div class="input-append date">
                                    {{ form_widget(form.doi,{'attr':{'placeholder':'Date of Incorporation','class':'datepicker'}}) }}
{#                                    <span class="add-on"><i class="icon-th"></i></span> #}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.doc,'Date of Cessation',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                <div class="input-append date">
                                    {{ form_widget(form.doc,{'attr':{'placeholder':'Date of Cessation','class':'datepicker'}}) }}
{#                                    <span class="add-on"><i class="icon-th"></i></span> #}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.betaPageLink,'Beta Page Link',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.betaPageLink,{'attr':{'placeholder':'Beta Page Link','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.telephone,'Telephone',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.telephone,{'attr':{'placeholder':'Telephone','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.email,'Email',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.email,{'attr':{'placeholder':'Email','class':''}}) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.cno,'Company Number',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.cno,{'attr':{'placeholder':'Company Number','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.utr,'UTR',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.utr,{'attr':{'placeholder':'UTR','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.vat,'VAT',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.vat,{'attr':{'placeholder':'VAT','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.epaye,'Employer PAYE Ref',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.epaye,{'attr':{'placeholder':'Employer PAYE Ref','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.accoff,'Accounts Office Ref',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.accoff,{'attr':{'placeholder':'Accounts Office Ref','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.accountsOffice,'Accounts Office',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.accountsOffice,{'attr':{'placeholder':'Accounts Office','class':''}}) }}
                            </div>
                        </div>
                        
                        <div class="control-group">
                            {{ form_label(form.webfillingEmail,'Webfilling Email',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.webfillingEmail,{'attr':{'placeholder':'Webfilling Email','class':''}}) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.webfillingPassword,'Webfilling Password',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.webfillingPassword,{'attr':{'placeholder':'Webfilling Password','class':''}}) }}
                            </div>
                        </div>

                            <div class="control-group">
                            {{ form_label(form.authenticationCode,'Authentication Code',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.authenticationCode,{'attr':{'placeholder':'Authentication Code','class':''}}) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.account,'Bank account details',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.account,{'attr':{'placeholder':'Bank account details','class':''}}) }}
                            </div>
                        </div>

                        <div class="control-group" style="height: 280px;">
                            {{ form_label(form.notes,'Notes',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.notes,{'attr':{'placeholder':'Type Text...','style':'height:180px;'}}) }}
                            </div>
                        </div>
                            
                        <div class="control-group">
                            {{ form_label(form.dateDisengaged,'Client Disengaged',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                <div class="input-append date">
                                    {{ form_widget(form.dateDisengaged,{'attr':{'placeholder':'Client Disengaged','class':'datepicker'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.disengegementReason,'Disengagement Reason',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.disengegementReason,{'attr':{'placeholder':'Disengagement Reason','class':''}}) }}
                            </div>
                        </div>
                                
                        <div class="control-group">
                            {{ form_label(form.archived,'Client Archived',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                <div class="input-append date">
                                    {{ form_widget(form.archived,{'attr':{'placeholder':'Client Archived','class':'datepicker'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.archiveNumber,'Archive Number',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.archiveNumber,{'attr':{'placeholder':'Archive Number','class':''}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.archiveNote,'Archive Note',{'label_attr':{'class':'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.archiveNote,{'attr':{'placeholder':'Archive Note','class':''}}) }}
                            </div>
                        </div>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-success" value="Save">
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
